<form id="imgurl" method="POST">
    <input type="text" name="imgurl">
    <input type="submit">
</form>
{{#if err}}
    <p>{{err}}</p>
{{/if}}
{{#if img}}
    <img id="image" src='img.png'></img>
{{/if}}
