<!DOCTYPE html>
<html>
    <head>
        <title>Ticker</title>
        <link type="text/css" rel="stylesheet" href="/ticker.css"/>
    </head>
    <body>
       <div class="ticker">
           <div class="container">{{#links}}<a href="{{link}}" id="link">{{name}}: {{title}}</a>{{/links}}</div>
       </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <script src="ticker.js"></script>
    </body>
</html>
